* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: sans-serif;
  background-color: whitesmoke;
  justify-content: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  width: 150px;
  height: 75px;
  font-size: 2.2em;
  position: fixed;
  left: 50%;
  margin-left: -75px; /*half the width of the button*/
  margin-top: 30px;
  border: 5px solid black;
}
